*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}
ul{
  text-decoration: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.nav-color{
  background-color: rgba(0, 0, 0, 0.5);
}
.saveUs{
  color: rgb(49, 219, 158) !important;
  font-weight: 700;
}
.nav-li{
  position: relative;
}
.nav-a::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: rgb(49, 219, 158);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.nav-a:hover::before{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.gallery-size1{
  max-width: 100%;
  height: 100vh;
  background-image: url("../img/tigre-bengala01.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.gallery-size2{
  max-width: 100%;
  height: 100vh;
  background-image: url("../img/tigre-bengala02.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.gallery-size3{
  max-width: 100%;
  height: 100vh;
  background-image: url("../img/tigre01.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center;
}
.section-1{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
}
.div-titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10vh;
}
.titulo-wt{
  color: rgb(49, 219, 158);
  font-size: 4rem;
  font-family: Poppins;
  font-weight: 500;
}
.section-1-row{
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
}
.section-1-p{
  color: rgb(184, 184, 184);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 0 8%;
}
.imgxs1{
  max-width: 100%;
  height: 30vh;
  background-image: url("../img/tigre-bengala01.jpg");
  background-position: center;
  background-size: cover;
}
.section-2{
  max-width: 100%;
  min-height: 100vh;
  background-image: url("../img/tigre-bengala09.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.section-3{
  max-width: 100%;
  height: 100vh;
  display: flex;
}
.section-3-30{
  max-width: 30%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-section-3-30{
  max-width: 60%;
  text-align: justify;
}
p b{
  color: rgb(49, 219, 158);
  font-weight: 700;
}
.imgxs2{
  background-image: url("../img/tigre-bengala05.jpg");
  width: 80%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  border-radius: 1%;
  box-shadow: 0px 0px 60px 0px #000000;
}
.section-3-70{
  max-width: 70%;
  min-height: 100vh;
}
.img-section-3-70{
  max-width: 100%;
  min-height: 100vh;
  background-image: url("../img/tigre-bengala05.jpg");
  background-size: cover;
  background-position: center;
  z-index: 4;
}
.span{
  position: relative;
  z-index: -1;
  color: rgba(255, 255, 255, 0);
}
.section-4{
  max-width: 100%;
  min-height: 50vh;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
}
.social{
  color: rgb(32, 36, 40);
}
.social a:hover{
  text-decoration: none;
}
.social i{
  text-decoration: none;
  color: rgb(32, 36, 40);
}
.social i:hover{
  transform: scale(1.5);
  transition: .3s;
}
.footer-text{
  width: 100%;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  padding: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
.footer-text h4{
  text-transform: uppercase;
}
.footer-row{
  max-width: 100%;
  display: flex;
}
.map-col{
  display: flex;
}
.gmail{
  line-height: 18px;
}
.map{
  width: 120%;
}


/* FOMRULARIO DE DONATE */



.text-form{
  width: 55%;
}
form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 100%;
  margin-left: 5%;
  margin-top: 10%;
  /* margin-right: auto; */
  padding: 1em;
}
form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
  border-radius: 10px;
}
form button:hover {
  background: rgb(49, 219, 158);
}

label {
  text-align: left;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid rgb(49, 219, 158);
}
/* SMALL */
@media (min-width: 576px) {
  .section-1-p{
    color: rgb(184, 184, 184);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0;
    margin-top: -90px;
    margin-bottom: -150px

  }
  .section-3-30{
    max-width: 100%;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .donate{
    /* background-color: rgb(244, 235, 224); */
    background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
);
  }
  .text-form{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: auto;
  }
}



/* MEDIUM */
@media (min-width: 768px) {
  .donate{
    background: 0;
    background-image: url("../img/tigre-bengala08.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 95vh;
    margin: 0;
  }
}



/* LARGE */
@media (min-width: 992px) {
  .section-1-p{
    color: rgb(184, 184, 184);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0 8%;
    margin: 0;
  }
  .section-3-30{
    max-width: 30%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .donate{
    background: 0;
    background-image: url("../img/tigre-bengala08.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 100vh;
    margin: 0;
  }
  .text-form{
    width: 55%;
  }
  form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 100%;
    margin-left: 5%;
    margin-top: 10%;
    /* margin-right: auto; */
    padding: 1em;
  }
}
